name: Release

on:
  release:
    types:
      - published

jobs:
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew check

      - run: ./gradlew publish
